# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out

# Visual Studio Files
.vs/
Server/.vs/
.vscode/
*.user
*.aps

# Misc. 
build/

Client/build/

Client-aarch64/build/

Server/x64/
Server/bin/

Server-Linux/
Server-Linux/build/
